# Discord Bot Token File
token

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.zip
*.tar.gz
*.rar

# IntelliJ

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# This causes lots of headache, Idea does not like anything touching this file
.idea/**/vcs.xml

# Gradle
.gradle
/build/
.idea/**/gradle.xml
.idea/**/libraries

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Vim temp files
*.swp
*.swo
